.nav-study-wrap{
	/*position: absolute;
	bottom: 0;
	width: 100%;*/
}

.nav-explore{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.nav-explore-left{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex: 0 0 8rem;
	margin-left: 3rem;
	margin-right: 5rem;
	font-size: .7rem;
}


.nav-explore-right{
	flex: 0 0 auto;
	font-size: 1.2rem;
	padding-bottom: .7rem;
	margin-right: 5rem;
	border-bottom: 5px solid #fe8532 ;
}

